
.container {
  width: 100%;
  height: 500px;
  position: relative;
}

#message {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#form {
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 100px;
}

#keystrokes {
  width: 200px;
}

